html {
    background-image: url(beautiful-flowers-hero.jpg);
    background-size: cover;
}
.all {
    display: flex;
    margin:2rem;
    flex-wrap: wrap;
}

.mine-title {
    text-align: center;
    font-size:4rem;
    color: purple;
}

.content {
    border: 2px solid red;
    margin:2rem;
    padding:10px;
    background-color: white;
}

.titles {
    font-size:2rem;
    text-align: center;    
}


.content:hover {
 background-color:black;   
}
.descriptions {
    color:white;
    font-size:2rem;
    text-align: center;
}
